*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body{
	background-image: url('../imagenes/fondo2.jpg');
	background-repeat: no-repeat;
}

nav{
	padding-left: 200px;
	height: 50px;
	background: #722f37;
	color: white;
	padding-right: 100px;
}

<<<<<<< HEAD
/*------------------------------ FORM LOGIN ------------------------*/
#login form{
=======


#login  form{
>>>>>>> 977f9451d1dc1f40741a2e1d9d916c6fa8a13000
	line-height: 50px;
	float: right;
}

#login a{
	text-decoration:none; 
	color: white;
	line-height: 50px;
}
 
#login p{
	margin-right: 10px;
}

nav #login {
	float: right;
}

#login form input{
	width: 80px;
	border-radius: 0;
	margin-right: 5px;
}
/*----------------------------------------------------------------*/


/*
#menu li{
    display: inline-block;
    line-height: 50px;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size:18px;
}

nav #menu {
	float: left;
	line-height: 50px;
}
*/



/*-----------------------------------------------------------*/
#menu ul li {
    background: #722f37;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    background: #722f37;
	color: white;
    text-decoration:none;
    padding-right:10px;
  	height: 50px;
  	line-height: 50px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding-left: 10px;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:200px;
}

#menu ul li:hover > ul {
    display:block;
}



/*-----------------------------------------------------------*/


header{
	text-align: center;
	width: 100%;
	height: 150px;
	background: #ab2a3e;
}

header img{
	float: left;
	padding-left: 60px;
	padding-top: 10px;
	height: 180px;
}

article{
	text-align: center;
	background: white;
	min-height: 450px;

}

footer{
	text-align: center;
	background: #722f37;
	color: white;
	min-height: 50px;
	line-height: 50px;
}

#registro{
	position: absolute;
	margin-top: 50px;
	border-color: #722f37;
	border-style: solid;
	height: 300px;
	width: 250px;
	margin-left: 400px;

}

#h3{
	background:#722f37 ;
	color: white;
}
