*{
	margin: 0;
	padding: 0;
}

nav{
	margin-left: 100px;
	margin-right: 100px;
	height: 50px;
	background: #722f37;
	color: white;
	padding-right: 5px;
}

#usu {
	line-height: 40px;

}

#login  form{
	line-height: 40px;
	float: right;
}

#menu  li{
    display: inline-block;
    line-height: 50px;
}

#menu a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-family: Arial;
    font-size:18px;
}

nav #login {
	float: right;
}

nav #menu {
	float: left;
	line-height: 50px;
}

form input{
	width: 60px;
}

header{
	text-align: center;
	width: 100%;
	height: 120px;
	background: #960018;
}

header img{
	width: 100%;
	height: 120px;
}

article{
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	background-color: grey;
	min-height: 450px;
}

footer{
	text-align: center;
	background: #722f37;
	color: white;
}